{% extends 'base.html' %}
{% block content %}
<h1>註冊新帳號</h1>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form action="" method="post">
	{% csrf_token %}
    <p>
    <label for="username">帳號：</label>
    {{ form.username}}
    </p>

    <p>
    <label for="password1">密碼：</label>
    {{ form.password1 }}
    </p>

    <p>
    <label for="password2">密碼確認：</label>
    {{ form.password2 }}
    </p>

    <p> 
    <label for="email">信箱：</label>
    {{ form.email }}
    </p>
    
    
    <p> 
    <label for="last_name">姓：</label>
    {{ form.last_name }}
    </p>


    <p> 
    <label for="first_name">名：</label>
    {{ form.first_name }}
    </p>



    <input type = "submit" value = "註冊" />
</form>
{% endblock %}