
{% extends 'base.html' %}
{% block content %}


<h1>文章列表</h1>

      <form method="GET" action=''>
      <input type="text" name='q' placeholder="輸入文章、發文者或標籤"/>
      <input type="submit" value="搜尋"/>
      </form>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</ul>
{% endif %}




{% for article in articles %}
<hr/>
	<h2><a href="{% url 'detail' pk=article.pk %}">{{ article.title }}</a></h2>
	<p>發文者 <a href="/profile_view/{{ article.author }}">{{ article.author }}</a>｜回應({{ article.comment_set.all|length }})｜{{ article.created }}</p>
	{% for tag in article.tags.all %}
		<a href="{% url 'tagged' tag.slug %}" class="tag tag-default">{{ tag.name }}</a>
		
    {% endfor %}

{% endfor %}




{% endblock %}
