<html>
<head></head>
<body>

{% if request.user.is_authenticated %}
	<p>
	{{request.user}} 您已經登入囉~
		<a href="/accounts/logout/">登出</a>
	</p>
{% else %}
	<p>您尚未登入喔~<a href="{% url 'django.contrib.auth.views.login' %}?next={{request.path}}">登入</a></p>
	或是<a href="/accounts/register/">註冊</a>成為會員
{% endif %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</ul>
{% endif %}

<h2>{{ articles.title }}</h2>
<p>發文者 <a href="/profile_view/{{ articles.author }}">{{ articles.author }}</a></p>
<p>{{ articles.content}}</p>
<p>{{ articles.created }}</p>



{% load taggit_templatetags2_tags %}
{% get_taglist as tags for 'articles.Article' %}
{% for tag in articles.tags.all %}
	<a href="{% url 'tagged' tag.slug %}">{{ tag.name }}</a>
{% endfor %}

{% if request.user.is_authenticated %}
	{% if request.user = articles.author %}
		<p><a href="{% url 'article_edit' article_pk=articles.pk %}">編輯</a></p>
	{% endif %}
{% endif %}

{% if request.user.is_authenticated %}
<p><a href="{% url 'create_comment' pk=articles.pk %}">回應文章</a></p>
{% endif %}

{% for comment in articles.comment_set.all %}
	<p>{{ forloop.counter }}樓</p>
	<p>{{ comment.content }}</p>
	<p>回應者 <a href="/profile_view/{{ comment.author }}">{{ comment.author }}</a>｜{{ comment.created }}</p>
{% endfor %}

</body>
</html>